<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>NoteHub</title>
</head>
<body>
    <nav class = "top-nav">
        <ul class = "top-nav-ul">
            <li><a href="/view/html/main.html"><button>NoteHub</button></a></li>
        </ul>
        <ul class = "top-nav-ul">
            <li><a href="/view/html/signin.html"><button>登入</button></a></li>
            <li><a href="/view/html/signup.html"><button>加入</button></a></li>
        </ul>
    </nav>
    <section>
        <div class = "main-display">
            <ul class="grow-one">
                <li><nobr><h1>歡迎光臨</h1></nobr></li>
                <hr>
                <li><h2>這裡是NoteHub，提供檔案上傳空間，成為您的線上檔案總管</h2></li>
            </ul>
            <hr>
            <ul class="grow-two">
                <li><h2>方便您存取各種文件，讓工作更有效率，且不用擔心登入時手機認證的困擾，因為我們有著自己一套的登入系統</h2></li>
                <li><a href="/view/html/signup.html"><button>加入我們</button></a></li>
            </ul>
        </div>
    </section>
</body>
</html>