<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/sign.css">
    <title>Sign up</title>
</head>
<body>
    <nav class = "top-nav">
        <ul class = "top-nav-ul">
            <li><a href="/view/html/main.html"><button>NoteHub</button></a></li>
        </ul>
        <ul class = "top-nav-ul">
            <li><a href="/view/html/signin.html"><button>登入</button></a></li>
            <li><a href="/view/html/signup.html"><button>加入</button></a></li>
        </ul>
    </nav>
    <section>
        <div class="sign-area center">
            <form action="post">
                <ul>
                    <li><label>帳號: <nobr/><input type="text" name="account" class="input-area"></label></li>
                    <br>
                    <li><label>密碼: <nobr/><input type="password" name="password" class="input-area"></label></li>
                    <br>
                    <li><input type="submit" class="submit-btn"></li>
                </ul>
            </form>
        </div>
    </section>
</body>
</html>