*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(173, 70, 70);
}
.center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.top-nav{
    display: flex;
    background-color: rgb(36, 0, 0);
    justify-content: space-between;
}
.top-nav-ul{
    display: flex;
}
.top-nav-ul li{
    list-style: none;
}
.top-nav-ul  button{
    height: 100%;
    padding: 20px;
    border: 0;
    background-color: rgb(84, 0, 0);
    transition: 0.1s;
    font-size: 20px;
    color: white;
}
.top-nav-ul a{
    text-decoration: none;
}
.top-nav-ul  button:hover{
    background-color: rgb(160, 0, 0);
}
.main-display{
    width: 55vw;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.main-display ul{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-grow: 1;
}
.main-display li{
    list-style: none;
    padding: 30px;
    text-align: center;
}
.main-display h1{
    text-align: center;
    color: rgb(255, 182, 182);
    font-weight: 500;
    font-size: 60px;
}
.main-display h2{
    font-weight: 100;
    color: white;
}
.main-display hr{
    color: white;
}
.main-display button{
    width: 60%;
    height: 60px;
    background-color: rgb(84, 0, 0);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    transition: 0.1s;
    border: 40;
    border-color: white;
    transform: translateY(50%);
}
.main-display button:hover{
    background-color: rgb(160, 0, 0);
}
.grow-one{
    flex-grow:1.5;
}
.grow-two{
    flex-grow:1;
}
@media (max-width: 900px){
    .main-display hr{
        border-radius: 20px;
        border: 1px solid;
    }
    .main-display h1{
        border: 1px solid;
        border-radius: 40px;
        background-color: rgb(146, 0, 0);
    }
    .main-display button{
        transform: translateY(0);
    }
    .main-display{
        margin-top: 40px;
        border: 2px solid;
        border-radius: 50px;
        border-color: white;
        flex-direction: column;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 500px) {
    .main-display{
        min-width: 100vw;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
}